/* Fakeloader - loading screen styles
--------------------------------------------------------- */
#fakeloader-overlay {
  opacity: 0;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  width: 100%;
  z-index: 9998;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; 
}

#fakeloader-overlay.visible {
  opacity: 1; 
}

#fakeloader-overlay.hidden {
  opacity: 0;
  height: 0px;
  width: 0px;
  z-index: -10000; 
}

#fakeloader-overlay .loader-wrapper-outer {
  background-color: transparent;
  z-index: 9999;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: table;
  text-align: center;
  vertical-align: middle; 
}

#fakeloader-overlay .loader-wrapper-inner {
  display: table-cell;
  vertical-align: middle; 
}

// loaders

#fakeloader-overlay .loader {
  width: 80px;
  height: 80px;

  position: relative;
  margin: 100px auto;

  .dot1, .dot2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(123, 104, 238, 0.9);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .dot2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

}


// #fakeloader-overlay .loader {
//   margin: 0px auto 100px;
//   width: 80px;
//   height: 80px;
//   position: relative;
//   text-align: center;
  
//   -webkit-animation: sk-rotate 2.0s infinite linear;
//   animation: sk-rotate 2.0s infinite linear;

  
//   .dot1, .dot2 {
//     width: 60%;
//     height: 60%;
//     display: inline-block;
//     position: absolute;
//     top: 0;
//     background-color:  $secondaryColor;
//     border-radius: 100%;
    
//     -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
//     animation: sk-bounce 2.0s infinite ease-in-out;
//   }

//   .dot2 {
//     top: auto;
//     bottom: 0;
//     -webkit-animation-delay: -1.0s;
//     animation-delay: -1.0s;
//     background-color:  $tertiaryColor-dark;
//   }

//   @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
//   @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

//   @-webkit-keyframes sk-bounce {
//     0%, 100% { -webkit-transform: scale(0.0) }
//     50% { -webkit-transform: scale(1.0) }
//   }

//   @keyframes sk-bounce {
//     0%, 100% { 
//       transform: scale(0.0);
//       -webkit-transform: scale(0.0);
//     } 50% { 
//       transform: scale(1.0);
//       -webkit-transform: scale(1.0);
//     }
//   }

// }





